<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="server.js"></script>
  <title>Patrick Thümer and Dustin Gohl</title>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
      text-align: center;
    }

    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
    }

    textarea {
      width: 100%;

      margin-top: 0em;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    button {
      background-color: lightskyblue;
      color: black;
      font-weight: bold;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    button:hover {
      opacity: 0.8;
    }

    p {
      padding: 1em;
      margin-top: 1em;
      margin-bottom: 1em;
      border: 1px solid black;
    }

    .container {
      padding: 16px;
    }

    span.psw {
      float: right;
      padding-top: 16px;
    }
  </style>
</head>

<body>
  <h1>Welcome Back!</h1>
  <form action="/post" method="post">
    <div class="container">


      <textarea type="text" placeholder="Add new note here..." rows="4" cols="50" name="note" id="note"
        required></textarea>
      <br>
      <button type="save">Save</button>
  </form>
  <div>
    <form action="/test" method="get">
      <h3>All Posts</h3>
      <div>
        <% for(var i=0; i< buttonName.length; i++) {%>
          <p>
            <%= buttonName[i].text %>
          </p>
          <% } %>
      </div>
      <button type="showposts">
        XSS Attack
      </button>
    </form>
  </div>
</body>
<footer>&copy; IT-Security by Patrick Thümer and Dustin Gohl</footer>
</html>